.navbar-dark .navbar-brand {
    color: #b2e814;
  }
  .table-inverse {
      color: #fff;
      background-color: #77aadc;
  }    
.jumbotron {
  background-image: url(cover.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron img{
  height:300px
}
